@import "tailwindcss";

@theme {
  --color-primary: #00120a;
  --color-primary-container: #0a291e;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #729283;
  --color-primary-fixed: #c8ead9;
  --color-primary-fixed-dim: #adcebd;
  --color-on-primary-fixed: #022016;
  --color-on-primary-fixed-variant: #2f4d40;

  --color-secondary: #006c49;
  --color-secondary-container: #6cf8bb;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #00714d;
  --color-secondary-fixed: #6ffbbe;
  --color-secondary-fixed-dim: #4edea3;
  --color-on-secondary-fixed: #002113;
  --color-on-secondary-fixed-variant: #005236;

  --color-tertiary: #000c30;
  --color-tertiary-container: #001f5d;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-container: #5784ff;
  --color-tertiary-fixed: #dbe1ff;
  --color-tertiary-fixed-dim: #b4c5ff;
  --color-on-tertiary-fixed: #00174b;
  --color-on-tertiary-fixed-variant: #003ea8;

  --color-surface: #faf8ff;
  --color-surface-dim: #d2d9f4;
  --color-surface-bright: #faf8ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f3ff;
  --color-surface-container: #eaedff;
  --color-surface-container-high: #e2e7ff;
  --color-surface-container-highest: #dae2fd;
  --color-surface-variant: #dae2fd;
  --color-surface-tint: #466557;

  --color-on-surface: #131b2e;
  --color-on-surface-variant: #424844;
  --color-inverse-surface: #283044;
  --color-inverse-on-surface: #eef0ff;
  --color-inverse-primary: #adcebd;

  --color-outline: #727974;
  --color-outline-variant: #c1c8c3;

  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;

  --font-sans: "Inter", sans-serif;
  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  body {
    font-family: var(--font-body);
    background-color: var(--color-surface);
    color: var(--color-on-surface);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headline);
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
